/* Event Calendar Styles
-------------------------------------------------------------- */
#event-calendar {
    margin: 0 0 20px;
    padding: 5px;
    background: #444;
    border-radius: 5px;
}
#event-calendar table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}
#event-calendar table th,
#event-calendar table td {
    border: none;   
    vertical-align: top;
    text-align: left;
}
#event-calendar table th {
    padding: 15px 10px;
    line-height: 1;
}
#event-calendar table td {
    padding: 5px;   
    height: 70px;
}
#event-calendar table caption.event-calendar-caption {
    padding: 12px;
    font-size: 2em;
    text-align: center;
    color: #fff;
    background: #4c8fae;
}
#event-calendar table caption.event-calendar-caption a.event-calendar-prev,
#event-calendar table caption.event-calendar-caption a.event-calendar-next {
    margin: 0;
    padding: 3px 10px 7px;
    color: #fff;
    background: rgba(255,255,255,.1);
    line-height: 1;
    border-radius: 3px;
}
#event-calendar table caption.event-calendar-caption a.event-calendar-prev:hover,
#event-calendar table caption.event-calendar-caption a.event-calendar-next:hover {
    opacity: 0.7;
}
#event-calendar table caption.event-calendar-caption a.event-calendar-prev {
    float: left;
}
#event-calendar table caption.event-calendar-caption a.event-calendar-next {
    float: right;
}
#event-calendar table tr.event-calendar-header {
    
}
#event-calendar table tr.event-calendar-header th {
    background: #333;
    border-color: #333;
    color: #fff;    
    text-shadow: none;
    text-align: center;
}
#event-calendar table tr.event-calendar-row {
    
}
#event-calendar table tr.event-calendar-row td {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
#event-calendar table tr.event-calendar-row:nth-child(even) td {
    background: #fff; 
}
#event-calendar table tr.event-calendar-row:nth-child(odd) td {
    background: #f8f8f8; 
}
#event-calendar table tr.event-calendar-row:last-child td {
    border-bottom: none;
}
#event-calendar table tr.event-calendar-row td:last-child {
    border-right: none;
}
#event-calendar table tr.event-calendar-row td span.event-calendar-day {
    display: block;   
    margin: 0 0 5px;
    color: #333;
    font-weight: bold;    
}
#event-calendar table tr.event-calendar-row td a.event-calendar-event {
    display: block;
    margin: 0 -5px;
    padding: 8px;   
    background: #eee;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    line-height: 1.1;
}
#event-calendar table tr.event-calendar-row td a.event-calendar-event:last-child {
    margin-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
}
#event-calendar table tr.event-calendar-row td#event-calendar-empty {
    background: #eee; 
}